.body-main {
    background-image: url(img/background.jpg);
    backdrop-filter:blur(3px);
    background-size: cover;
    background-attachment:fixed ;
    background-color: #c0c0ae;
    color:black;
    font-family:sans-serif;
    margin: 0;
    font-size: larger;
    font-weight: bolder;
}
.nav-bar {
    display: flex ;
    justify-content: flex-end;
    padding-right: 20px;
    padding-top: 10px;
}
.nav-home {
    background-color: #B1805A;
    padding: 5px;
    padding-right: 12px;
    padding-left: 12px ;
    border-radius: 15px;
    margin-right: 5px;
}
.nav-contact {
        background-color: #B1805A;
        padding: 5px;
        border-radius: 15px;
}
h1 {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 5.5em;
    color: #B1805A;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: underline;
}
.landing-page {
    display: flex;
    justify-content:flex-start;
    margin: 100px 50px;
    font-weight: lighter;
}
.profile-pic {
    width: 400px;
    height: 450px;
    border-radius: 50%;
    margin-right: 100px;
    margin-left:100px ;
    border: 5px solid #B1805A;
}
.content-links {
    display: flex;
    justify-content:center;
    

}
.link-interest {
    font-weight: bold;
    background: yellowgreen;
    padding: 10px;
    border-radius: 10px;
}
.link-project {
    margin-right: 40px;
    margin-left: 20px;
    font-weight: bold;
    background: lightgreen;
    padding: 10px;
    border-radius: 10px;
}
.link-education {
    margin-right: 20px;
    margin-left: 40px;
    font-weight: bold;
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
}
.link-about {
    margin-right: auto;
    font-weight: bold;
    background: lightseagreen;
    padding: 10px;
    border-radius: 10px;
}
.contact-section {
    padding: 10px;
    background-color: #B1805A;
    border-radius: 10px;
}
.contact-info {
    display: flex;
    justify-content: flex-start;
}
.call-cont {
margin-left:70px ;
}
.about-section {
    margin-top: 20px;
    padding-left:  80px;
    padding-bottom: 80px;
    background-color: #B1805A;
    border-radius: 10px;
    background-image: url(img/about.gif);
    background-size: cover;
    background-attachment: fixed;
    color: white;
    line-height: 1.6;
    font-size: 1.2em;
}
.abt-me {
    font-size: 2.6em;
    color: #B1805A;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
.about-photo {
    width: 300px;
    border-radius: 20px;
    margin-top: 50px;
}
figcaption {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: smaller;
    color: #000000;
}
.education-section {
    padding:  80px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 1.2em;
    background-color: lightblue;
    
}
.projects-section {
    padding:  80px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 1.2em;
    background-color:lightgreen;

}
.interests-section {
    margin-bottom: 50px;
    padding: 80px;
    border-radius: 10px;
    line-height: 1.6;
    font-size: 1.2em; 
    border: solid 5px #c0c0ae;
    background-color:yellowgreen;
}
